<div class="wrapper">
	<link rel="stylesheet" type="text/css" href="/css/perfil.css">
	
	<h2 class="title">{{title}}</h2>

	<main>
		<img class="picture-user" src="{{image}}" alt="{{nome}}">

		<h3>{{nome}}</h3>
		<!-- barra de avaliação não usual -->
		<hr>
		<section class="ferramentas">
		
			{{#each ferramentas}}
				<button type="button nav-button">
					{{{this}}}
				</button>`
			{{/each}}
			
		</section>
	</main>

	<table class="box table">
	
		{{#each rows}}
				<tr>
					<th>{{this.titulo}}</th>
					<td>{{this.valor}}</td>				
				</tr>
		{{/each}}
		
	</table>
	<!--
	<ul id="conquistas">
		<li>
			<img src="" alt="conquista">
			<legend>Contrato seguro</legend>
			<p class="small-text">Perfil com dados verificados</p>
		</li>
	</ul>
	-->
</div>
