<div class="wrapper">

	<h2 class="title">{{title}}</h2>

	{{#if showTable}}
		<table class="box table">
			{{#each rows}}
					<tr>
						<th>{{this.key}}</th>
						<td>{{this.value}}</td>				
					</tr>
			{{/each}}
		</table>
	{{/if}}
	
	<section class="window-shape-section">
		{{#each windowAnchors}}
			<a class="window-shape-anchor box" href="{{this.rota}}">
				<img class="icon" src="{{this.src}}" alt="{{this.nome}}">
				<h3>{{this.nome}}</h3>
			</a>
		{{/each}}
	</section>
	
	{{#if showlandscapeAnchors}}
		<section>
			{{#each landscapeAnchors}}
				<a class="landscape-shape-anchor box" href="{{this.rota}}">
					<img class="icon" src="{{this.src}}" alt="{{this.nome}}">
					<h3>{{this.nome}}</h3>
				</a>
			{{/each}}
	</section>
	{{/if}}
</div>
