<div class="wrapper">
  <link rel="stylesheet" type="text/css" href="/css/perfil.css" />

  <h2 class="title">{{title}}</h2>

  <main>
    <img class="picture-user" src="{{image}}" alt="{{name}}" />

    <h3>{{name}}</h3>
    <!-- barra de avaliação não usual -->
    <hr />
    <section class="ferramentas">

      {{#each ferramentas}}
        <button type="button nav-button">
          {{{this}}}
        </button>`
      {{/each}}

    </section>
  </main>

  <table class="box table">

    {{#each rows}}
      <tr>
        <th>{{this.key}}</th>
        <td>{{this.value}}</td>
      </tr>
    {{/each}}

  </table>
</div>